{{ form_start(form) }}

<div data-controller="picture" data-picture-count="{{ form.pictures|length }}">
    {{ form_row(form.name) }}
    {{ form_row(form.price) }}
    {{ form_row(form.owner) }}

    <h2>Pictures <button data-action="picture#add" class="btn btn-primary">+</button></h2>
    <div data-picture-target="prototype" data-prototype="{{ form_widget(form.pictures.vars.prototype)|e }}"></div>

    <div data-picture-target="pictures">
    {% for picture in form.pictures %}
    
        {{ form_errors(picture) }}
        {{ form_widget(picture) }}

    {% endfor %}
    </div>

    
    <button class="btn btn-success"><i class="icon-play"></i>{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
